{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href='{% static "front/navbar.css" %}' />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
    />
    <link rel="stylesheet" href='{% static "front/material.css" %}' />
    <link rel="stylesheet" href='{% static "front/study.css" %}' />
    <title>Discussions</title>
  </head>
  <body>
    <div class="page-wrapper chiller-theme toggled">
      <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
        <i class="fas fa-bars"></i>
      </a>
      <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
          <div class="sidebar-brand">
            <a href="{% url 'mainpage' %} " >Xavier</a>
            <div id="close-sidebar">
              <i class="fas fa-times"></i>
            </div>
          </div>
          <div class="sidebar-header">
            <div class="user-pic">
              <img
                class="img-responsive img-rounded"
                src="{{request.user.profile.image.url}}"
                alt="User picture"
                style = "border-radius: 50% ;"
              />
            </div>
            <div class="user-info">
              <span class="user-name">
                {{ request.user.username }}
              </span>
              <span class="user-role">
                  {% if request.user.is_superuser %}
              Superuser
                 
                 {% elif request.user.is_staff %}
              Staff
                  {% else %}
              Student
                  {% endif %}

            </span>
              <span class="user-status">
                <i class="fa fa-circle"></i>
                <span>Online</span>
              </span>

            </div>
          </div>



          <!-- sidebar-search  -->
          <div class="sidebar-menu">
            <ul>
              <li>
                <a href="{% url 'mainpage' %} " 
                  ><i class="fa fa-home" aria-hidden="true"></i>
                  <span>Announcements</span>
                </a>
              </li>
              <li>
                <a href="{% url 'discusspage' %} "  style="color: white" >
                  <i class="fas  fa-comments"></i>
                  <span>Discussions</span>
                </a>
              </li>

              <li>
                <a href="{% url 'studypage' %}"
                  ><i class="fa  fa-book"></i>
                  <span>Study Material</span>
                </a>
              </li>
              <li>
                <a href="{% url 'quizpage' %} "
                ><i class="fa fa-calendar"></i>
                  <span>Quiz</span>
                </a>
              </li>
              <li>
                <a href="{% url 'addpage' %} "
                  ><i class="fa fa-plus" aria-hidden="true"></i>
                  <span>Add</span>
                </a>
              </li>
            </ul>
          </div>
          <!-- sidebar-menu  -->
          <div class="sidebar-footer">
            <a href="{% url 'logout' %} " style="text-decoration: none">
              <i class="fa fa-power-off"></i>
              <span>Logout</span></a
            >
          </div>
        </div>
        <!-- sidebar-content  -->
      </nav>
      <!-- sidebar-wrapper  -->
      <main class="page-content">
        <div class="container">


         {% for discussion in discussions %}

          <div class="ibox-content forum-container">
            <div class="forum-item active">
              <div class="row">
                <div class="col-md-9">
                  <h5 class="forum-item-title" >
                    <a href="main/?discuss={{discussion.room}}" class="forum-item-title"
                      >{{discussion.title}}</a
                    >
                    <span class="col-md-3" style="font-size: .75rem ;" > <small> {{discussion.time}}</small></span>
                  </h5>
                  <hr />
                </div>
                <br>
                <div class="forum-sub-title" >
                  {{discussion.content |slice:":100"}} .......
                </div>
                
                
              </div>
            </div>
          </div> <br>

            {% endfor %}
       
        </div>
      </main>
    </div>
    <!-- page-wrapper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/esm/popper.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.js"></script>
        <script >
      $(".sidebar-dropdown > a").click(function() {
    $(".sidebar-submenu").slideUp(200);
    if (
      $(this)
        .parent()
        .hasClass("active")
    ) {
      $(".sidebar-dropdown").removeClass("active");
      $(this)
        .parent()
        .removeClass("active");
    } else {
      $(".sidebar-dropdown").removeClass("active");
      $(this)
        .next(".sidebar-submenu")
        .slideDown(200);
      $(this)
        .parent()
        .addClass("active");
    }
  });
  
  $("#close-sidebar").click(function() {
    $(".page-wrapper").removeClass("toggled");
  });
  $("#show-sidebar").click(function() {
    $(".page-wrapper").addClass("toggled");
  });
  
  
    </script>
  </body>
</html>
