{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href='{% static "front/navbar.css" %}' />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
    />
    <link rel="stylesheet" href='{% static "front/material.css" %}' />
    <link rel="stylesheet" href='{% static "front/study.css" %}' />
    <style>
    	#id_room { display: none; }
      body {
        margin-top: 20px;
        background: #eee;
      }
      @media (min-width: 0) {
        .g-mr-15 {
          margin-right: 1.07143rem !important;
        }
      }
      @media (min-width: 0) {
        .g-mt-3 {
          margin-top: 0.21429rem !important;
        }
      }

      .g-height-50 {
        height: 50px;
      }

      .g-width-50 {
        width: 50px !important;
      }

      @media (min-width: 0) {
        .g-pa-30 {
          padding: 2.14286rem !important;
        }
      }

      .g-bg-secondary {
        background-color: #fafafa !important;
      }

      .u-shadow-v18 {
        box-shadow: 0 5px 10px -6px rgba(0, 0, 0, 0.15);
      }

      .g-color-gray-dark-v4 {
        color: #777 !important;
      }

      .g-font-size-12 {
        font-size: 0.85714rem !important;
      }

      .media-comment {
        margin-top: 20px;
      }

      label { display: none; }
    </style>
      <title>{{discussion.title}}</title>
  </head>
  <body  >
    <div class="page-wrapper chiller-theme toggled">
      <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
        <i class="fas fa-bars"></i>
      </a>
      <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
          <div class="sidebar-brand">
            <a href="{% url 'mainpage' %} " >Xavier</a>
            <div id="close-sidebar">
              <i class="fas fa-times"></i>
            </div>
          </div>
          <div class="sidebar-header">
            <div class="user-pic">
              <img
                class="img-responsive img-rounded"
                src="{{request.user.profile.image.url}}"
                alt="User picture"
                style = "border-radius: 50% ;"
              />
            </div>
            <div class="user-info">
              <span class="user-name">
                {{ request.user.username }}
              </span>
              <span class="user-role">
                  {% if request.user.is_superuser %}
              Superuser
                 
                 {% elif request.user.is_staff %}
              Staff
                  {% else %}
              Student
                  {% endif %}

            </span>
              <span class="user-status">
                <i class="fa fa-circle"></i>
                <span>Online</span>
              </span>

            </div>
          </div>



          <!-- sidebar-search  -->
          <div class="sidebar-menu">
            <ul>
              <li>
                <a href="{% url 'mainpage' %} " 
                  ><i class="fa fa-home" aria-hidden="true"></i>
                  <span>Announcements</span>
                </a>
              </li>
              <li>
                <a href="{% url 'discusspage' %} "  style="color: white" >
                  <i class="fas  fa-comments"></i>
                  <span>Discussions</span>
                </a>
              </li>

              <li>
                <a href="{% url 'studypage' %}"
                  ><i class="fa  fa-book"></i>
                  <span>Study Material</span>
                </a>
              </li>
              <li>
                <a href="{% url 'quizpage' %} "
                ><i class="fa fa-calendar"></i>
                  <span>Quiz</span>
                </a>
              </li>
              <li>
                <a href="{% url 'addpage' %} " 
                ><i class="fa fa-plus" aria-hidden="true"></i>
                  <span>Add</span>
                </a>
              </li>
            </ul>
          </div>
          <!-- sidebar-menu  -->
          <div class="sidebar-footer">
            <a href="{% url 'logout' %} " style="text-decoration: none">
              <i class="fa fa-power-off"></i>
              <span>Logout</span></a
            >
          </div>
        </div>
        <!-- sidebar-content  -->
      </nav>
      <!-- sidebar-wrapper  -->
      <main class="page-content">
        <div class="container">
          <h1>{{discussion.title}}</h1> <h7 style="color: {{discussion.author.profile.color}}">{{discussion.author}}  </h7> <small> , {{discussion.time}}</small>
          <p>
            {{discussion.content}}
          </p>
          <hr />
          <h5>Comments</h5>
          <!-- comments random -->
          <link
            href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            rel="stylesheet"
            integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
            crossorigin="anonymous"
          />
          <div class="container">
            <div class="row">
             
              {% for comment in comments %}

              <div class="col-md-8">
                <div class="media g-mb-30 media-comment">
                  <img
                    class="d-flex g-width-50 g-height-50 rounded-circle g-mt-3 g-mr-15"
                    src="{{comment.author.profile.image.url}}"
                    alt="Image Description"
                  />
                  <div class="media-body u-shadow-v18 g-bg-secondary g-pa-30">
                    <div class="g-mb-15">
                      <h5 class="h5 g-color-gray-dark-v1 mb-0" style="color: {{comment.author.profile.color}}">{{comment.author}}</h5>
                      <span class="g-color-gray-dark-v4 g-font-size-12"
                        >{{comment.time}}</span
                      >
                    </div>

                    <p>
                      {{comment.content}}
                    </p>

                  </div>
                </div>
              </div>

              {% endfor %}


            </div>
          </div>
          <!-- end-->
          <!--add comment section-->
          <div style="margin-top: 35px">
            <div style="display: flex; justify-content: center">
              <div class="col-10">
                <div class="comment-box ml-2">
                  <h6>Add a comment</h6>
                  <div class="comment-area">
                    <textarea
                    id = "text"
                      class="form-control"
                      placeholder="what is your view?"
                      rows="4"
                      

                    ></textarea>
                  </div>
                  <form method="post" style="display: none;">{% csrf_token %}
                       {{send}}
                    <button type="submit" name='action' value='sending' id="send" >Send</button>   
                    
            	</form>
                  <div class="comment-btns mt-2">
                    <div class="row">
                      <div class="col-6">
                        <div class="pull-right">
                        	
                        		
	                          <button class="btn btn-success send btn-sm" type="submit" id="send2" onclick = 'comment(event)'>
	                            Send <i class="fa fa-long-arrow-right ml-1"></i>
	                          </button>
	                        

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <!-- page-wrapper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/esm/popper.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.js"></script>
       <script >
      $(".sidebar-dropdown > a").click(function() {
    $(".sidebar-submenu").slideUp(200);
    if (
      $(this)
        .parent()
        .hasClass("active")
    ) {
      $(".sidebar-dropdown").removeClass("active");
      $(this)
        .parent()
        .removeClass("active");
    } else {
      $(".sidebar-dropdown").removeClass("active");
      $(this)
        .next(".sidebar-submenu")
        .slideDown(200);
      $(this)
        .parent()
        .addClass("active");
    }
  });
  
  $("#close-sidebar").click(function() {
    $(".page-wrapper").removeClass("toggled");
  });
  $("#show-sidebar").click(function() {
    $(".page-wrapper").addClass("toggled");
  });




  function comment(e){
  	console.log('hi')

  	document.querySelector('#id_room').value = '{{discussion.room}}' ;
  	document.querySelector('#id_content').value = document.querySelector('#text').value ;

  	document.querySelector('#send').click()


  }
  
  
    </script>
  </body>
</html>
