{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <link rel='stylesheet' type='text/css' media='screen' href='{% static "front/login.css" %}' />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign in</title>
  </head>
  <body>
    <div class="container" id="container">
      <div class="form-container sign-up-container">
        <form action="#">
          <h1 style="margin-bottom: 50px">Create Account</h1>
          <input type="text" placeholder="Name" />
          <input type="email" placeholder="Email" />
          <input type="password" placeholder="Password" />
          <button>Sign Up</button>
        </form>
      </div>
      <div class="form-container sign-in-container">




        <form  method="post">{% csrf_token %}
          <h1 style="margin-bottom: 50px">Sign in</h1>
          {{ form }}
          <button type="submit" name="action" value="login">Sign In</button>
        </form>






      </div>
      <div class="overlay-container">
        <div class="overlay">
          <div class="overlay-panel overlay-left">
            <h1>Welcome Back!</h1>
            <p>
              To keep connected with us please login with your personal info
            </p>
            <button class="ghost" id="signIn">Sign In</button>
          </div>
          <div class="overlay-panel overlay-right">
            <h1>Hello, Friend!</h1>
            <p>Enter your personal details and start journey with us</p>
            <button class="ghost" id="signUp">Sign Up</button>
          </div>
        </div>
      </div>
    </div>

    <script src='{% static "front/login.js" %}'></script>
    <script type="text/javascript">
      
let user = document.getElementById('id_username') ;
if (user !== null){document.querySelector('#id_username').placeholder = 'Username'
}

let pass1 = document.getElementById('id_password') ;
if (pass1 !== null){document.querySelector('#id_password').placeholder = 'Password'
}



errors= document.getElementsByClassName('errorlist');

let i=0
for (i=0; i<errors.length ; i++) {

alert(errors[i].innerText) ;

}


    </script>
  </body>
</html>
