{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Quiz</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='{% static "quiz/main.css" %}'>
    
</head>
<body>

    {% if quiz %}



    <div class="nav">
        <ul>
            <li><a href="{% url 'quizpage' %}">Quiz</a></li>
            <li><a href="{% url 'aboutpage' %}">About</a></li>
            <li><a href="{% url 'contactpage' %}">Contacts</a></li>
            <li><a href="{% url 'helppage' %}">Help</a></li>
            <li id="time" class="{{time}}">0m 0s</li>
        </ul>
    </div>



    <div class="quiz">
        <form method="post">{% csrf_token %} 

            <div class="on viewed" id="1">
                <div class="question">{{ques.0}}  </div>
                <div class="answer">
                    <ul >
                        <li class="option a">{{ ques.0.option_a }} </li>
                        <li class="option b">{{ ques.0.option_b }} </li>
                        <li class="option c">{{ ques.0.option_c}} </li>
                        <li class="option d">{{ ques.0.option_d}} </li>
                    </ul>
                    <img class="mcq_im" src="{{ ques.0.image.url }}">
                    <input type="hidden" value="" name="a1">
                </div>
            </div>
            <div class="off" id="2">
                <div class="question">{{ques.1}} </div>
                <div class="answer">
                    <ul >
                        <li class="option a">{{ ques.1.option_a  }}</li>
                        <li class="option b">{{ ques.1.option_b }} </li>
                        <li class="option c">{{ ques.1.option_c}} </li>
                        <li class="option d">{{ ques.1.option_d}} </li>
                    </ul>
                    <img class="mcq_im" src="{{ ques.1.image.url }}">
                    <input type="hidden" value="" name="a2">
                </div>
            </div>
            <div class="off" id="3">
                <div class="question">{{ques.2}}</div>
                <div class="answer">
                    <ul >
                        <li class="option a">{{ ques.2.option_a }}</li>
                        <li class="option b">{{ ques.2.option_b }} </li>
                        <li class="option c">{{ ques.2.option_c}} </li>
                        <li class="option d">{{ ques.2.option_d}} </li>
                    </ul>
                    <img class="mcq_im" src="{{ ques.2.image.url }}">
                    <input type="hidden" value="" name="a3">
                </div>
            </div>
            <div class="off" id="4">
                <div class="question">{{ques.3}} </div>
                <div class="answer">
                    <ul >
                        <li class="option a">{{ ques.3.option_a }}</li>
                        <li class="option b">{{ ques.3.option_b }} </li>
                        <li class="option c">{{ ques.3.option_c}} </li>
                        <li class="option d">{{ ques.3.option_d}} </li>
                    </ul>
                    <img class="mcq_im" src="{{ ques.3.image.url }}">
                    <input type="hidden" value="" name="a4">
                </div>
            </div>
            <div class="off" id="5">
                <div class="question">{{ques.4}}</div>
                <div class="answer">
                    <ul >
                        <li class="option a">{{ ques.4.option_a }}</li>
                        <li class="option b">{{ ques.4.option_b }} </li>
                        <li class="option c">{{ ques.4.option_c}} </li>
                        <li class="option d">{{ ques.4.option_d}} </li>
                    </ul>
                    <img class="mcq_im" src="{{ ques.4.image.url }}">
                    <input type="hidden" value="" name="a5">
                </div>
            </div>
            <div class="off" id="6">
                <div class="question">{{ques.5}}  </div>
                <div class="answer">
                    <ul >
                        <li class="option a">{{ ques.5.option_a }} </li>
                        <li class="option b">{{ ques.5.option_b }} </li>
                        <li class="option c">{{ ques.5.option_c}} </li>
                        <li class="option d">{{ ques.5.option_d}} </li>
                    </ul>
                    <img class="mcq_im" src="{{ ques.5.image.url }}">
                    <input type="hidden" value="" name="a6">
                </div>
            </div>
            <div class="off" id="7">
                <div class="question">{{ques.6}} </div>
                <div class="answer">
                    <ul >
                        <li class="option a">{{ ques.6.option_a  }}</li>
                        <li class="option b">{{ ques.6.option_b }} </li>
                        <li class="option c">{{ ques.6.option_c}} </li>
                        <li class="option d">{{ ques.6.option_d}} </li>
                    </ul>
                    <img class="mcq_im" src="{{ ques.6.image.url }}">
                    <input type="hidden" value="" name="a7">
                </div>
            </div>
            <div class="off" id="8">
                <div class="question">{{ques.7}}</div>
                <div class="answer">
                    <ul >
                        <li class="option a">{{ ques.7.option_a }}</li>
                        <li class="option b">{{ ques.7.option_b }} </li>
                        <li class="option c">{{ ques.7.option_c}} </li>
                        <li class="option d">{{ ques.7.option_d}} </li>
                    </ul>
                    <img class="mcq_im" src="{{ ques.7.image.url }}">
                    <input type="hidden" value="" name="a8">
                </div>
            </div>
            <div class="off" id="9">
                <div class="question">{{ques.8}} </div>
                <div class="answer">
                    <ul >
                        <li class="option a">{{ ques.8.option_a }}</li>
                        <li class="option b">{{ ques.8.option_b }} </li>
                        <li class="option c">{{ ques.8.option_c}} </li>
                        <li class="option d">{{ ques.8.option_d}} </li>
                    </ul>
                    <img class="mcq_im" src="{{ ques.8.image.url }}">
                    <input type="hidden" value="" name="a9">
                </div>
            </div>
            <div class="off" id="10">
                <div class="question">{{ques.9}}</div>
                <div class="answer">
                    <ul >
                        <li class="option a">{{ ques.9.option_a }}</li>
                        <li class="option b">{{ ques.9.option_b }} </li>
                        <li class="option c">{{ ques.9.option_c}} </li>
                        <li class="option d">{{ ques.9.option_d}} </li>
                    </ul>
                    <img class="mcq_im" src="{{ ques.9.image.url }}">
                    <input type="hidden" value="" name="a10">
                </div>
            </div>
            
            






            <button type="submit" id="submit">Submit</button>
        </form>
    </div>




    <div class="move">
        <ul>
            <li class="prev" id="prev">Previous</li>
            <li class="next" id="next">Next</li>
        </ul>
    </div>
    
    
    <div class="info">
        <ul>
            <li id="view">Questions Viewed : 1</li>
            <li id='answered' >Answered : 0</li>
            <li id='to_be_answered'>To be answered : 10</li>
        </ul>
    </div>


    {% endif %}

    {% if submitted %}

    <h1 style="text-align: center; color: rgb(120, 228, 120) ;">
        Your quiz have been submitted , your final score is {{ score }}/10 
    </h1>

    {% endif %}





    <script src='{% static "quiz/main.js" %}'></script>
</body>
</html>