{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Quiz</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='{% static "quiz/main.css" %}'>
    
</head>
<body>

    {% if quiz %}



    <div class="nav">
        <ul>
            <li><a href="{% url 'quizpage' %}">Quiz</a></li>
            <li><a href="{% url 'aboutpage' %}">About</a></li>
            <li><a href="{% url 'contactpage' %}">Contacts</a></li>
            <li><a href="{% url 'helppage' %}">Help</a></li>
            <li id="time" class="{{time}}">0m 0s</li>
        </ul>
    </div>



    <div class="quiz">
        <form method="post">{% csrf_token %} 

            <div class="on viewed" id="1">
                <div class="question">{{ques.0.id}} : {{ques.0.question}}   </div>
                <div class="answer"><textarea placeholder="Type your answer here...." name="a1"></textarea> <img class="ques_im" src="{{ ques.0.image.url }}"></div>
            </div>
            <div class="off" id="2">
                <div class="question">{{ques.1.id}} : {{ques.1.question}} </div>
                <div class="answer"><textarea placeholder="Type your answer here...." name="a2"></textarea> <img class="ques_im" src="{{ques.1.image.url}}"></div>
            </div>
            <div class="off" id="3">
                <div class="question">{{ques.2.id}} : {{ques.2.question}}</div>
                <div class="answer"><textarea placeholder="Type your answer here...." name="a3"></textarea> <img class="ques_im" src="{{ques.2.image.url}}"></div>
            </div>
            <div class="off" id="4">
                <div class="question">{{ques.3.id}} : {{ques.3.question}} </div>
                <div class="answer"><textarea placeholder="Type your answer here...." name="a4"></textarea> <img class="ques_im" src="{{ques.3.image.url}}"></div>
            </div>
            <div class="off" id="5">
                <div class="question">{{ques.4.id}} : {{ques.4.question}}</div>
                <div class="answer"><textarea placeholder="Type your answer here...." name="a5"></textarea> <img class="ques_im" src="{{ques.4.image.url}}"></div>
            </div>
            <div class="off" id="6">
                <div class="question">{{ques.5.id}} : {{ques.5.question}}   </div>
                <div class="answer"><textarea placeholder="Type your answer here...." name="a6"></textarea> <img class="ques_im" src="{{ ques.5.image.url }}"></div>
            </div>
            <div class="off" id="7">
                <div class="question">{{ques.6.id}} : {{ques.6.question}} </div>
                <div class="answer"><textarea placeholder="Type your answer here...." name="a7"></textarea> <img class="ques_im" src="{{ques.6.image.url}}"></div>
            </div>
            <div class="off" id="8">
                <div class="question">{{ques.7.id}} : {{ques.7.question}}</div>
                <div class="answer"><textarea placeholder="Type your answer here...." name="a8"></textarea> <img class="ques_im" src="{{ques.7.image.url}}"></div>
            </div>
            <div class="off" id="9">
                <div class="question">{{ques.8.id}} : {{ques.8.question}} </div>
                <div class="answer"><textarea placeholder="Type your answer here...." name="a9"></textarea> <img class="ques_im" src="{{ques.8.image.url}}"></div>
            </div>
            <div class="off" id="10">
                <div class="question">{{ques.9.id}} : {{ques.9.question}}</div>
                <div class="answer"><textarea placeholder="Type your answer here...." name="a10"></textarea> <img class="ques_im" src="{{ques.9.image.url}}"></div>
            </div>


            
            <button type="submit" id="submit">Submit</button>
        </form>
    </div>




    <div class="move">
        <ul>
            <li class="prev" id="prev">Previous</li>
            <li class="next" id="next">Next</li>
        </ul>
    </div>
    
    
    <div class="info">
        <ul>
            <li id="view">Questions Viewed : 1</li>
            <li id='answered' >Answered : 0</li>
            <li id='to_be_answered'>To be answered : 10</li>
        </ul>
    </div>


    {% endif %}

    {% if submitted %}

    <h1 style="text-align: center; color: rgb(120, 228, 120) ;">
        Your quiz have been submitted , please wait patiently for the grading 
    </h1>

    {% endif %}





    <script src='{% static "quiz/main.js" %}'></script>
</body>
</html>