body {
    background-image:url("xavier.jfif");
  }
  .navbar {
    background-color: rgb(87, 0, 79);
    border-radius: 20px;
  }
  .navbar ul {
    overflow: auto;
  }
  .navbar li {
    float: left;
    list-style: none;
    text-decoration: none;
    margin: 4px 2px 2px 2px;
    padding: 8px 2px 2px 2px;
    text-align: center;
  }
  .navbar li a {
    text-decoration: none;
    padding-left: 30px;
    color: white;
    text-align: center;
  }
  .navbar input {
    float: right;
    padding: 5px;
    margin: 7px;
    border-radius: 20px;
  }
 
  .wrapper a {
    margin-right: 200px;
    padding-right: 10px;
    text-decoration: none;
    background-color:green;
  }
  .wrapper a:hover {
    color: black;
    text-decoration: underline;
  }