.Question {
  margin-top: 11vh;
  height: 90vh;
  width: 80vw;
  margin-left: auto;

  margin-right: auto;
  font-family: Tahoma, Verdana, sans-serif;
}
.head {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  font-weight: bold;
}
.question-space {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70vh;
}
.end {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  align-items: center;
}
.kj {
  width: 75px;
  height: 30px;
}
